  /* Specifying the font here.*/
  body {
    font-family: Helvetica, sans-serif;
    font-style: bold;
  }
  
  /* Adding the row on the same line here.*/
  ul li:after {
    content: ".";
    display: block;
    clear: both;
    line-height: 0;
  }

  /* Setting container dimensions. */
  #container {
    max-width: 1080px;
    width: 80%;
    padding-bottom: 630px;
    background: rgb(200,201,203);
    background: linear-gradient(0deg, rgba(200,201,203,1) 0%, rgba(237,237,238,1) 35%); 
  }
  
  /*Styling the row here.*/
  #row {
    width: 33%;
    padding-left: 3%;
  }
  
  /* Styling the row ul here.*/
  #row ul {
    list-style-type: none;
    margin: 0;
    padding: 50% 0 0 0;
  }
  
  /* Styling the row ul li span.*/
  #row ul li span {
    float: left;
    display: block;
  }
  
  /* Styling the text in the row here.*/
  #row ul li span:last-child {
    font-size: 105%;
  }
  
  /* Styling the amount in the row here. */
  #row ul .amount {
    width: 130px;
    font-size: 50px;
    font-weight: bold;
  }
  
  #slider {
    width: 100%;
    height: 100%; 
  }
  
  /* Styling the rows titles here. */
  #row ul li span.title {
    width: auto;
    height: auto;
    display: block;
    line-height: 25px;
    margin-top: 17px;
    margin-right: 0;
  }
  
  /* Adding the components on the same line. */
  .same-line {
    width: 60%;
    float: left;
  }
  

  /* Add colored boxes. */
  #row ul li span.title span {
    width: 25px;
    height: 25px;
    text-indent: -100000px;
    margin-right: 12px;
    display: inline-block;
  }
  
  /* Setting colors of boxes */
  #purple {
    background: #4B0082;
  }
  
  #blue {
    background: #1E90FF;
  }
  
  #green {
    background: #228B22;
  }
  
  #orange {
    background: #FF8C00;
  }
  
  #red {
    background: #FF0000;
  }

  /* Styling the sliders here.*/
  #sliderStyling #tip {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
  }
  

/* Adding a media query for 600 px. */
/* More can be added.*/
@media screen and (max-width: 600px) {

    #container {
        width: 100%;
        padding-bottom: 10px;
    }

    #row ul {
        padding: 5% 0;
    }

    #sliderStyling {
        float: center;
    }

    .same-line {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    #row ul .amount {
        font-size: 25px;
        width: 75px;
        margin-top: 16px;
    }
    #row {
        width: 100%;
        padding-left: 20%;
    }
}
